<!DOCTYPE html>
<html>

<head>

<title>CampusConnect Chat</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="chat-container">

<h2>

Welcome {{ current_user }} 💬

</h2>

<input
type="text"

id="searchUser"

placeholder="Search user..."

onkeyup="searchUsers()">

<div class="user-sidebar">

<a href="/group">

<button type="button">

💬 Group Chat

</button>

</a>

<br><br>

<h3>

Users

</h3>

{% for user in users %}

<a href="/chat/{{ user[0] }}">

<div class="user-card">

👤 {{ user[0] }}

<br>

{% if user[1]=='Online' %}

🟢 Online

{% else %}

⚪ Offline

<br>

Last seen:

{% if user[2] %}

{{ user[2].strftime('%d-%m-%Y %H:%M') }}

{% else %}

Never

{% endif %}

{% endif %}

</div>

</a>

{% endfor %}

</div>

{% if selected_user %}

<h3>

Chat with {{ selected_user }}

</h3>

{% endif %}

<div class="chat-box">

{% if messages %}

{% for msg in messages %}

{% if msg[1]==current_user %}

<div class="message my-message">

{% else %}

<div class="message other-message">

{% endif %}

<div class="user-info">

<span class="avatar">

👤

</span>

<b>

{{ msg[1] }}

</b>

</div>

<p>

{{ msg[3] }}

</p>

<small>

{{ msg[4].strftime('%I:%M %p') }}

</small>

<br><br>

{% if msg[1]==current_user %}

<a href="/delete/{{ msg[0] }}">

<button type="button">

Delete

</button>

</a>

<a href="/edit/{{ msg[0] }}">

<button type="button">

Edit

</button>

</a>

{% endif %}

</div>

{% endfor %}

{% else %}

<div class="empty-chat">

No messages yet 💬

</div>

{% endif %}

</div>

<br>

<a href="/logout">

<button type="button">

Logout

</button>

</a>

<button
type="button"
onclick="confirmClear()">

Clear Chat

</button>

<br><br>

{% if selected_user %}

<form method="POST">

<div class="message-area">

<input
type="text"

name="message"

placeholder="Type message"

required>

<button type="submit">

Send

</button>

</div>

</form>

{% endif %}

</div>

<script>

function confirmClear(){

let answer =
confirm(
"Delete all messages?"
);

if(answer){

window.location.href=
"/clear";

}

}

function searchUsers(){

let input=
document.getElementById(
"searchUser"
);

let filter=
input.value.toLowerCase();

let users=
document.getElementsByClassName(
"user-card"
);

for(
let i=0;
i<users.length;
i++
){

let text=
users[i]
.innerText
.toLowerCase();

if(
text.includes(filter)
){

users[i]
.style.display=
"block";

}
else{

users[i]
.style.display=
"none";

}

}

}

</script>

</body>

</html>